@model manage_coffee_shop_web.Models.Banner

<h2>Thêm Banner</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label>Tiêu đề</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mô tả</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Hình ảnh</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Lưu</button>
</form>
